@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    max-width: 100%;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    width: 340px;
    height: 540px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 20px 25px 20px hsl(217, 53%, 7%);
    gap: 18px;
}

figure.foto-view {
    position: relative;
    display: flex;
    width: 100%;
    height: 55%;
}

figure.foto-view img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

figure.foto-view figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: hsla(178, 100%, 50%, 0.5);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
    background-position: center;
    background-image: url(../images/icon-view.svg);
    background-repeat: no-repeat;
    border-radius: 15px;
    cursor: pointer;
}

figure.foto-view:hover figcaption {
    opacity: 1;
}

.descricao {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.descricao h1 {
    font-size: 22px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.descricao p,
span {
    color: hsl(215, 51%, 70%);
}

.val {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.val .eth,
.clock {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.clock{
    text-indent: 28px;
    background-image: url(../images/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;

}

.val .eth .eth-txt {
    color: hsl(178, 100%, 50%);
    clear: both;
}

.linha {
    border-bottom: 0.5px solid hsla(215, 52%, 70%, 0.404);
}

.person {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    font-size: 17px;
}

.person img {
    border-radius: 60px;
    border: 1px solid hsl(0, 0%, 100%);
    width: 30px;
    height: 30px;
}

.txt-white {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.txt-white:hover,
h1:hover {
    color: hsl(178, 100%, 50%);
}